<div class="main-unit center jumbotron">
	<h1>TheCodeArchive</h1>

	<h2>A community for programmers everywhere</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>