<% provide(:title, "Threadposts") %>
<h1>Recent Threads</h1>

<% if @threads.any? %>
	<div id="recent-thread-box">
		<% @threads.each do |thread| %>
			<h5><span class="thread-category"><%= thread.forum.category %></span>
				<%= link_to "#{thread.topic}", threadpost_path(thread.id) %></h5>
		<% end %>
	</div>
<% end %>
