<% provide(:title, "Forum") %>
<h1 class="center">Forums</h1>

<% if signed_in? %>
	<div class="center">
		<%= link_to 'Create a new thread!', new_forumthread_path(@current_user.id) %>
	</div>
<% end %>

<% if @threads.any? %>
	<h2>Threads</h2>
	<% @threads.each do |thread| %>
		<h5><%= link_to "#{thread.topic}", forumthread_path(thread.id) %></h5>
	<% end %>
<% end %>
