@import "bootstrap";

/* mixins, variables, etc. */

$lightGray: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
	text-align: center;
}

.main-unit {

	h1 {
		letter-spacing: -2px;
	}

	h2 {
		color: #555;
	}
}

/* header */

#logo {
	text-decoration: none;
	color: white;
	float: left;
	padding-top: 9px;
	font-weight: bold;
	font-size: 1.7em;
	letter-spacing: -1px;
}

.main-nav {
	float: right;
	padding-top: 14px;
	list-style: none;

	li {
		float: left;
		margin-left: 24px;
	}

	a {
		text-decoration: none;
		color: #999;

		&:hover {
			color: white;
		}
	}
}

/* footer */

footer {
	margin-top: 45px;
	border-top: 1px solid $lightGray;
	padding-top: 5px;
	color: #999;

	small {
		float: left;
	}

	a {
		color: #555;

		&:hover {
			color: black;
		}

	}

	ul {
		list-style: none;
		float: right;

		li {
			float: left;
			margin-left: 10px;
		}
	} 
}

/* forms */

.sign-form {
	margin: 0 200px;

	form {
		width: auto;
		margin-bottom: 10px;
	}

	.submit-btn {
		width: auto;
	}
}

input, textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  	color: #f00;
  	ul {
    	list-style: none;
    	margin: 0 0 18px 0;
  	}
}

.field_with_errors {
  	@extend .control-group;
  	@extend .error;
}

/* Users index */

.users {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid #eaeaea;

		&:last-child {
			border-bottom: 1px solid #eaeaea;
		}
	}
}

/* comments */

.comments-list {
	list-style: none;
	border: 1px solid #505050;
	margin-top: 8px;
	padding: 8px;
	//background-color: #D0D0D0
}

.thread-list {
	list-style: none;
}